.login-dialog {
  border-radius: 5%;
}

.dialog-title {
  padding-top: 1rem;
}

.modal-footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .dialog-description {
    padding-bottom: 0.5rem;
  }

  .modal-button {
    padding: 0.33rem;
  }
}
