// Credit: https://stackoverflow.com/questions/51496204/border-gradient-with-border-radius/51496341#51496341
// This doesn't support transparent background
#selected-island {
  background-image: linear-gradient(#f5f5f5, #f5f5f5), linear-gradient(to top, #d8d7d9, white 75%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 2px solid transparent;
  box-shadow: 0px 2px 12px 0px rgba(26, 22, 34, 0.1);

  > p {
    text-shadow:
      0px -1px 1px rgba(0, 0, 0, 0.12),
      0px 1px 1px #fff;
  }
}
