#card-content-expanded::-webkit-scrollbar {
  width: 6px;

  @media (min-width: 768px) {
    width: 10px;
  }
}

#card-content-expanded::-webkit-scrollbar-track {
  background-color: rgba(87, 87, 87, 0.225);
}

#card-content-expanded::-webkit-scrollbar-thumb {
  background-color: var(--card-accent-color);
  border-radius: 10px;
}

#card-content-expanded::-webkit-scrollbar-thumb:hover {
  background-color: var(--card-scrollbar-color);
}

.accent-triangle {
  position: absolute;
  width: 24px;
  height: 24px;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background: linear-gradient(
    to bottom right,
    var(--card-primary-color) 39.5%,
    var(--card-accent-color) 40%,
    var(--card-accent-color) 100%
  );
}

.primary-triangle {
  position: absolute;
  width: 24px;
  height: 24px;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background: linear-gradient(
    to bottom right,
    var(--card-primary-color) 39.5%,
    var(--card-primary-color) 40%,
    var(--card-primary-color) 100%
  );
}
