#card-content-expanded::-webkit-scrollbar {
  width: 6px;

  @media (min-width: 768px) {
    width: 10px;
  }
}

#card-content-expanded::-webkit-scrollbar-track {
  background-color: rgba(87, 87, 87, 0.225);
}

#card-content-expanded::-webkit-scrollbar-thumb {
  background-color: var(--card-accent-color);
  border-radius: 10px;
}

#card-content-expanded::-webkit-scrollbar-thumb:hover {
  background-color: var(--card-scrollbar-color);
}

.triangle {
  position: absolute;
  width: 20px;
  height: 20px;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background-color: var(--card-primary-color);

  @media (min-width: 1024px) {
    left: 23%;
  }
}
